h1 {
    color: white;
    background-color: rgb(190, 109, 33);
    font-size: 36px;
    font-weight: 300;
    width: 285px;
    height: 70px;
    text-align: center;
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 25px;
}

h2{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    font-size: 12px;
}

h3{
    font-size: 15px;
    color: white;
    margin-left: 10px;
}

h4{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}
body{
    background-image: url("../images/zigzag.jpg");
}

p{
    color: green;
    font-weight: 500px;
    padding-left: 10px;
    margin-top: 5px;
    padding-top: 15px;

}

img{
    width: 75px;
    height: 75px;
}

.directions{
    width: 420px;
    height: 400px;
    line-height: 25px;
    background-color: rgb(236, 221, 201);
    margin-top: 20px;
    margin-left: 25px;
}

.scoreBoxContainer{
    width: 420px;
    margin-left: 25px;
    margin-top: 25px;
}
.computerChoice{
    background-color: rgb(46, 129, 46);
    width: 200px;
    height: 100px;
}
.score{
    background-color: rgb(107, 217, 221);
    width: 80px;
    height: 100px;
    line-height: 20px;
    /* margin-top: 20px; */
}


.totalScoreContainer{
    width: 420px;
    margin-left: 25px;
    margin-top: 25px;
}
.totalScore{
background-color: rgb(32, 156, 156);
width: 200px;
height: 30px;
}

.scoreTally{
    background-color: rgb(32, 156, 156);
    width: 200px;
    height: 100px;
}